@model ShippingItem
@{
    ViewData["Title"] = "Detail";
}
<div class="col-6">
    <h1 style="color:coral">Detail</h1>
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
    <img src="~/assets/images/shipping/icon/@Model.Image" height="50px" />
    <a class="btn btn-inverse-primary" asp-action="Index">Go back</a>

</div>

